<div> <!-- <div class="container"> -->
  <div> <!-- <div class="col-sm-12"> -->
    <h2>Manage Google Groups</h2>

    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}

    {{#if info}}
        <div class="alert alert-info">{{info}}</div>
    {{/if}}

    <div class="subtable">
        <h3>Site Groups</h3>
        <table class="groups-table table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th class="col-sm-3">NYU Classes Group Name</th>
                    <th class="col-sm-6">Google Group Details</th>
                </tr>
            </thead>
            <tbody>
                {{#each wholeSite}}
                    {{> edu/nyu/classes/groupersync/tool/views/grouprows}}
                {{/each}}
            </tbody>
        </table>
    </div>

    {{#if sections}}
        <div class="subtable">
            <h3>Section groups</h3>
            <table class="groups-table table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-3">NYU Classes Group Name</th>
                        <th class="col-sm-6">Google Group Details</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sections}}
                        {{> edu/nyu/classes/groupersync/tool/views/grouprows rosters=true}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if adhocGroups}}
    <div class="subtable">
        <h3>Ad hoc groups</h3>
        <table class="groups-table table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th class="col-sm-3">NYU Classes Group Name</th>
                    <th class="col-sm-6">Google Group Details</th>
                </tr>
            </thead>
            <tbody>
                {{#each adhocGroups}}
                    {{> edu/nyu/classes/groupersync/tool/views/grouprows}}
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}

    <div id="modal-area" data-keyboard="true" class="modal" style="display: none" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">List of members</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script id="crud-template" type="text/template">

        <div class="create-group-container">
            <form class="create-group-form" method="POST">

                <input type="hidden" class="sakaiCSRFToken" name="sakai_csrf_token" value="{{csrfToken}}" />
                <input type="hidden" class="sakaiGroupId" name="sakaiGroupId" />

                <div class="form-group">
                    <label for="group-description">Group name</label>
                    <input required="true" type="text" class="form-control description" maxlength={{{maxDescriptionLength}}} name="description" placeholder="Description of new group">
                    <div class="description-character-count">
                        <small style="display: none" class="character-count-hit-limit text-danger">
                            Character limit has been reached
                        </small>
                        <small style="display: none" class="character-count text-muted">
                            <span class="character-count-number"></span> characters remaining
                        </small>
                        <div class="invalid-description-input" style="display: none">
                            <small class="text-danger">Invalid group name entered (must not contain ':')</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="group-address">Group email address</label>
                    <div class="input-group">
                        <input required="true" type="text" class="form-control address" name="groupId" placeholder="Address of new group">
                        <span class="input-append input-group-addon requiredSuffix">{{requiredSuffix}}</span>
                    </div>
                    <div class="group-address-character-count">
                        <small style="display: none" class="character-count-hit-limit text-danger">
                            Character limit has been reached
                        </small>
                        <small style="display: none" class="character-count text-muted">
                            <span class="character-count-number"></span> characters remaining
                        </small>
                    </div>
                    <div class="invalid-address-input" style="display: none">
                        <small class="text-danger">Invalid address entered (must be alphanumeric)</small>
                    </div>
                    <div class="address-in-use" style="display: none">
                        <small class="text-danger">That address already in use.  Please choose another!</small>
                    </div>
                </div>

                <button type="submit" class="btn submit-btn btn-primary">Submit</button>
                <button type="button" class="btn clear-btn btn-default">Clear</button>
            </form>
            <!-- Delete button -->
            <form style="display: none" class="delete-group-form" method="POST">
                <input type="hidden" class="sakaiCSRFToken" name="sakai_csrf_token" value="{{csrfToken}}" />
                <input type="hidden" class="sakaiGroupId" name="sakaiGroupId" />

                <button type="submit" class="btn delete-btn btn-danger pull-right">Delete group</button>
            </form>
        </div>

    </script>


    <script id="delete-confirmation-template" type="text/template">
        <div id="deleteConfirmationModal" class="modal" tabindex="-1" data-keyboard="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete Group</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this group?</p>
                        <p>Please be aware, once deleted the following email can not be used again:</p>
                        <strong id="groupEmail" class="col-sm-offset-1"></strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary btn-danger">Delete Group</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
  </div>
</div>
